# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/vault
backend/session_name.session
backend/test.py
backend/logs.txt
.venv/
src/backend/.env
src/backend/__pycache__/
src/backend/logs.txt
src/backend/routes/__pycache__/
src/backend/services/__pycache__/
src/backend/session_name.session
src/backend/test.py
src/backend/vault/
src/frontend/.env
src/frontend/src/lib/
src/frontend/node_modules/
